    <div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="./" class="logo">
            <span>
                <img src="public/assets/images/logo.png" alt="" height="18">
            </span>
            <i>
                <img src="public/assets/images/logo.png" alt="" height="22">
            </i>
        </a>
    </div>

    <nav class="navbar-custom">
        <ul class="navbar-right list-inline float-right mb-0">

            <!-- full screen -->
            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                    <i class="mdi mdi-fullscreen noti-icon"></i>
                </a>
            </li>

            <li class="dropdown notification-list list-inline-item">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="public/assets/images/logo.png" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i> {{ session.fullname }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
                    </div>
                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>

<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main</li>
                <li>
                    <a href="./" class="waves-effect">
                        <i class="ti-home"></i> <span> Home </span>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-align-justify"></i><span> Clients <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="./reservation">Réservation</a></li>
                        <li><a href="./chambre">Nos Chambres</a></li>
                        <li><a href="./banque-sang">Nos Clients</a></li>
                    </ul>
                </li>

                <li>
                    <a href="./reservation" class="waves-effect">
                        <i class="ti-home"></i> <span> Dépenses </span>
                    </a>
                </li>



{#                {% if 'rapport' in session.roles %}#}
                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="ti-align-justify"></i><span> Rapport <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                        <ul class="submenu">
                            <li><a href="./centres">Réservation</a></li>
                            <li><a href="#">Charges (Dépense et Autres)</a></li>
                            <li><a href="./banque-sang">Autres Charges</a></li>
                        </ul>
                    </li>

{#                {% endif %}#}

{#                {% if 'admin' in session.roles %}#}

                    <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="ti-align-justify"></i><span> Compte <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                        <ul class="submenu">
                            <li><a href="./users">Utilisateurs</a></li>
                            <li><a href="./historique">Historique Connexion</a></li>
                        </ul>
                    </li>
{#                  {% endif %}#}
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->

</div>

